{% extends 'base.html' %}


{% block css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename = 'js/script.js')}}"></script>
{% endblock script %}



{% block content %}
<html>
    <body>
        <section class="hero d-flex justify-content-center align-items-center" id="section_1">
            <div class="container-fluid">
                <div class="row">
                    <div class="text-center">
                        <div class="heroText">
                            <h1 class="text-white mb-lg-5 mb-4">Welcome to this Blog, A place where you can write any content and leave a comment of your liking. I hope you enjoy it!!</h1>
                            <div class="ms-auto d-none d-lg-block">
                                <a href="{{url_for('main.write')}}" class="custom-btn btn btn-lg">
                                    Get Started
                                </a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="overlay"></div>
        </section>
        <section id="about">
            <div class="container">
                <div class="discover">
                    <h3 class="text-center">Discover</h3>
                    <div class="cat-holder">
                        <div class="cats">
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Programming</a>
                            </div>
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Data Structures</a>
                            </div>
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Science</a>
                            </div>
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Life</a>
                            </div>
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Nature</a>
                            </div>
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Marketing</a>
                            </div>
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Fiction</a>
                            </div>
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Networking</a>
                            </div>
                            <div class="one">
                                <a href="{{url_for('main.account')}}">Data Science</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>


        
    </body>
</html>



{% endblock %}